
<head>
    <link rel="stylesheet" href="~/css/countdownTimer.css" />
   
</head>
<body>
<div class="text-center">
    <h1 style="color:ghostwhite; border:double; background-color:dimgray; " class="display-4">Welcome to Countdown Timer</h1>
    <div class="span countdown-container">
        <div class="days-container">
            <p id="days" class="big-text">0</p><span>
                DAYS</span>
        </div>
        <div class="span hours-container">
            <p id="hours" class="big-text">0</p><span>
                HOURS</span>
        </div>
        <div class="span minutes-container">
            <p id="minutes" class="big-text">0</p><span>MINUTES</span>
        </div>
        <div class="span seconds-container">
            <p id="seconds" class="big-text">0</p><span>SECONDS</span>
        </div>     
    </div>  
    <script src="~/js/countdownTimer.js"></script>
</div>

</body>