<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/movieApp.css" />
    <script src="~/js/movieApp.js"></script>
    <title>Movie App</title>
</head>

<body>
    <header>
        <form id="form">
            <input type="text" id="searchForm" placeholder="Search" class="search" />
        </form>        
    </header>
    <main id="main">      
    </main>
</body>
</html>