
<head>
    <link rel="stylesheet" href="~/css/quizApp.css" />

</head>
<body>
  
        <div class="quiz-container" style="position:center;">
            <h2>Question text</h2>
            <ul>
                <li><input id="a" name="answer" type="radio" /><label for="a">Question</label></li>
                <li><input id="b" name="answer" type="radio" /><label for="b">Question</label></li>
                <li><input id="c" name="answer" type="radio" /><label for="c">Question</label></li>
                <li><input id="d" name="answer" type="radio" /><label for="d">Question</label></li>

            </ul>
            <button>Next Question</button>
        </div>
   
   


    <script src="~/js/quizApp.js"></script>
</body>