
<head>
    <link rel="stylesheet" href="~/css/quizApp.css" />

</head>
<body>

    <div class="quiz-container">
        <div class="quiz-header">
            <h2 id="question" >Question text</h2>
            <ul>
                <li><input id="a_text" name="answer" type="radio" /><label for="a">Question</label></li>
                <li><input id="b_text" name="answer" type="radio" /><label for="b">Question</label></li>
                <li><input id="c_text" name="answer" type="radio" /><label for="c">Question</label></li>
                <li><input id="d_text" name="answer" type="radio" /><label for="d">Question</label></li>
            </ul>
        </div>
        <button>Next Question</button>
    </div>




    <script src="~/js/quizApp.js"></script>
</body>