
<head>
    <link rel="stylesheet" href="~/css/quizApp.css" />

</head>
<body>

    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <h2 id="question" >Question text</h2>
            <ul>
                <li><input id="a" name="answer" class="answer" type="radio" /><label id="a_text"> Question</label></li>
                <li><input id="b" name="answer" class="answer" type="radio" /><label id="b_text"> Question</label></li>
                <li><input id="c" name="answer" class="answer" type="radio" /><label id="c_text"> Question</label></li>
                <li><input id="d" name="answer" class="answer" type="radio" /><label id="d_text"> Question</label></li>
            </ul>
        </div>
        <button id="submit">Next Question</button>
    </div>
    <script src="~/js/quizApp.js"></script>
</body>