<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/weatherApp.css" />
    <title>Weather App</title>
</head>

<body>
    <form id="form">
        <input type="text"
               id="search"
               placeholder="Search by location"
               autocomplete="off" />
    </form>
    <main id="main"></main>
    <script src="~/js/weatherApp.js"></script>
</body>
</html>